!!! 5
%html
  %head
    = csrf_meta_tag
    /[if lt IE 9]
      = javascript_include_tag 'html5'
    = stylesheet_link_tag 'compiled/grid.css'
    = stylesheet_link_tag 'compiled/text.css'
    %title Glee Requests
  %body.container_12
    - if flash.notice
      .notice= flash.notice
    - if flash.alert
      .alert= flash.alert
    = yield
    = javascript_include_tag :defaults